* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  h1 {
    align-self: center;
  }
}
main {
  width: 100%;
}

.layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.3rem;
}

.square {
  text-align: center;
  min-width: 100px;
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hole {
  background-color: black;
  min-height: 20%;
  border-radius: 15px 15px 0 0;
  z-index: 1;
}

.monster {
  align-self: center;
  width: 50%;
  min-height: 80%;
  background-color: blue;

  transition: 0.2s;
  border-radius: 10px 10px 0 0;
  transform: translate(0px, 100px);
}

.disable {
  pointer-events: none;
}

.btn {
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 700;
  padding: 1rem 2rem;
}
